.container.mt-5
  %h5
    = link_to asanas_path do
      %i.fas.fa-arrow-circle-left
      Asanas

  %h1.mt-4
    = @asana.sanskrit_name
  %h5.text-thin= @asana.name

  .row
    .col-sm-12.col-md-12.col-lg-8
      - if @asana.introduction.present?
        = simple_format(@asana.introduction, class: "mt-4")

      %h4.mt-4.mb-3 Technique
      %ul
        = simple_format(@asana.technique,{class: "techniques"}, wrapper_tag: "li")

      - if @asana.variation.present?
        %h6.mt-4
          %strong Variation
        = simple_format(@asana.variation,{class: "techniques"}, wrapper_tag: "li")

    .col-sm-12.col-md-12.col-lg-4
      .card.bg-light.mb-3
        .card-body
          %h4.card-title Concentration
          %p.card-text= simple_format(@asana.concentration)

      .card.bg-light.mb-3
        .card-body
          %h4.card-title Afterward
          %p.card-text= simple_format(@asana.afterward)

      - if @asana.restrictions.present?
        .card.border-danger.mb-3
          .card-body.text-danger
            %h4.card-title.text-danger Caution
            - @asana.restrictions.each do |restriction|
              %li.card-text= restriction.name

    - if @asana.effects.present?
      .col-sm-12.col-md-12.col-lg-8.order-last
        %h4.mt-4.mb-3 Effects and Benefits
        %ul
          - @asana.effects.each do |effect|
            %li= effect.name

